<!-- <div class="container main-nav">
    <nav class="navbar navbar-light bg-faded pull-right">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="username" ng-model="vm.userName">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="vm.login()">Login</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="">Register</button>
        </form>
    </nav>
</div> -->
<!-- <div ng-hide="vm.hideLogin" ng-show="vm.showLogin" class="container" id="login" ng-controller="userController as vm">
      <h2>Log In</h2>
      <input type="text" ng-model="vm.userName" placeholder="username">
      <button id="loginGo" ng-click="vm.login()">Go!</button>
      <div> <a ui-sref="register">or sign up!</a></div>
  </div> -->

<div class="container search-container" style="margin-top: 60px;">
    <p>Welcome, {{username}}</p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Search Properties</h3>
        </div>
        <div class="panel-body">
            <form class="formContainer">
                <fieldset class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control input-sm" value="" ng-model="vm.search.city">
                </fieldset>
                <fieldset class="form-group">
                    <label for="zip">ZipCode</label>
                    <input type="text" class="form-control input-sm" value="" ng-model="vm.search.zipCode">
                </fieldset>
                <fieldset class="form-group">
                    <label for="bedroom">Bedroom</label>
                    <!-- <input type="text " class="form-control input-sm" ng-model=" "> -->
                    <select class="form-control input-sm" value="" ng-model="vm.search.bedroom">
                       <option>-</option>
                       <option value=1>1</option>
                       <option value=2>2</option>
                       <option value=3>3</option>
                       <option value=4>4</option>
                       <option value=5>5</option>
                       <option value=6>6</option>
                     </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="bathroom">Bathroom</label>
                    <!-- <input places-auto-complete class="form-control input-sm" ng-model=" " /> -->
                    <select class="form-control input-sm" value="" ng-model="vm.search.bathroom">
                       <option>-</option>
                       <option value=1>1</option>
                       <option value=2>2</option>
                       <option value=3>3</option>
                       <option value=4>4</option>
                       <option value=5>5</option>
                       <option value=6>6</option>
                     </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="rentmin">Rent Minimum</label>
                    <input places-auto-complete class="form-control input-sm" value="" ng-model="vm.search.minimumRent" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="rentmax">Rent Maximum</label>
                    <input places-auto-complete class="form-control input-sm" value="" ng-model="vm.search.maximumRent" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="pet">Pet Friendly?</label>
                    <!-- <input places-auto-complete class="form-control input-sm " ng-model=" " /> -->
                    <input class="form-check-input" type="checkbox" value="" ng-model="vm.search.isPetFriendly"> Yes
                </fieldset>
                <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="vm.searchHandler()">Search</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Properties</h3>
            </div>
            <div class="panel-body">
                <!-- <pre>{{vm.searchResults | json}}</pre> -->
                <div class="row" ng-repeat="searchResults in vm.searchResults">
                    <div class="col-md-4">
                        <img src="http://placehold.it/300x150">
                    </div>
                    <div class="col-md-6">
                        <p>{{searchResults.propertyId}}</p>
                        <p>Property Name: {{searchResults.propertyName}}</p>
                        <p>Rent: {{searchResults.rent}}</p>
                        <p>Number of Bedrooms: {{searchResults.bedroom}}</p>
                        <p>Number of Bathrooms: {{searchResults.bathroom}}</p>
                        <p>Square Footage: {{searchResults.squareFootage}}</p>
                        <button class="btn btn-primary" ng-click="showDetails=!showDetails">More details</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.addInterest(searchResults.propertyId)">
                            <span class="glyphicon glyphicon-star " aria-hidden="true "></span> Star
                        </button>
                        <!-- <button ng-click = "makeFavorite(searchResults.propId) "></button> -->
                        <!-- add show/hide functionality to property.detail.html -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
