body{
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
   background-size: cover;
}
.main-nav{
  margin-top: 50px;
}

.container .search-container{
  /*width: 800px !important;*/
}

.propForm {
  font-size: 18pt;
  font-weight: bold;
  border-bottom: : 1px solid #fff;
}

.property-container {
  background-color: #111106;
  color: #fff;
  padding: 20px;
  margin-top: 80px;
}

.panel{
    background-color: #111106;
    /*opacity: 0.8;*/
    color: #fff;
    border-color: transparent;
}

.panel>.panel-heading {
    background-color: #000;
    border-bottom: 1px solid #903030;

}

.panel-footer {
    height: 50px;
    background-color: #111106;
    /*opacity: 0.8;*/
    color: #fff;
    border-top: 1px solid #903030;

}
