<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <img class="nav-logo" width="50px" height="50px" src="app/images/home.png" alt="">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <li class="btn btn-default"><a ui-sref="interests">Interests</a></li>
                <li><a href="">Profile</a></li> -->
            </ul>
            <form class="navbar-form navbar-left pull-right">
                <button class="btn btn-default" type="submit" ui-sref="search">Search</button>
                <button class="btn btn-default" type="submit" ng-click="vm.logOut()">Logout</button>
            </form>
            <!-- <a class="btn btn btn-default navbar-btn pull-right" ng-click="vm.login()">Login</a>
              <a class="btn btn btn-default navbar-btn">Register</a> -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container" style="margin-top:80px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Interests List</h3>
        </div>
        <div class="panel-body">
            <div class="row" ng-repeat="item in vm.interestResult">
                <div class="col-md-4"><strong>Property Name:</strong> {{item.propertyName}}</div>
                <div class="col-md-4" style="padding:10px;">
                    <button class="btn btn-danger" ng-click="vm.removeInterest(item.propertyId)">DELETE INTEREST</button>
                </div>
            </div>
        </div>
    </div>
</div>
